$white-text: #f9faf8;
$background-blue: #1f2937;
$background-lightblue: #19b8aa;

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: $background-blue;
  margin: 0;
}

.container {
  padding: 0 20%;
}

a {
  text-decoration: none;
}

.nav {
  background-color: $background-blue;

  display: flex;
  margin-top: 1em;
  gap: 2em;

  a {
    color: $white-text;
  }

  //   logo

  &--logo {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;

    span {
      font-size: 42px;
      color: $white-text;
      font-family: "Rubik Bubbles", cursive;
    }

    img {
      height: 5em;
    }
  }

  // links

  &--links {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 2em;
  }
}

// hero

.hero {
  background-color: $background-blue;
  margin: 4em auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;

  &--textbox {
    flex: 1 0 400px;
    color: $white-text;

    h1 {
      font-size: 48px;
    }

    .cat-button {
      background-color: rgb(0, 124, 128);
      border: 0;
      font-size: 20px;
      padding: 0.5em 1em;
      color: $white-text;
      border-radius: 5px;
      //   margin: 0.25em 0;
      display: inline-block;
    }
  }

  &--image {
    flex: 1 1 400px;

    img {
      max-width: 100%;
      min-width: 400px;
      border-radius: 15px;
    }
  }
}

// Likes

.like-div {
  background-color: $background-lightblue;
  padding: 100px 0;
}

.like {
  display: flex;
  justify-content: space-between;
  text-align: center;

  &--title {
    text-align: center;
    padding: 20px 0;
    color: $white-text;
  }

  &--card {
    max-width: 20%;
    flex: 0 1 auto;

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

// quote

.quote {
  background-color: $white-text;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 20%;

  color: #1f2937;

  &--text {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    font-style: italic;
  }

  &--author {
    text-align: end;
  }
}

// call to action

.cont-call {
  padding: 100px 0;
  background-image: url(https://www.humanesociety.org/sites/default/files/styles/2000x850/public/2022-08/hl-yp-cats-579652.jpg?h=a0b0b8d2&itok=Ha4SyumM);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.call {
  background-color: $background-lightblue;
  border-radius: 20px;
  padding: 2em 4em;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  max-width: fit-content;

  &--text {
    color: $white-text;
  }

  &--button {
    background-color: $white-text;
    padding: 1em 2em;
    border-radius: 20px;
    color: #1f2937;
    font-weight: 700;
    text-align: center;
  }
}

// footer

footer {
  background-color: $background-lightblue;
  color: $white-text;
  padding: 20px;
  text-align: center;
}
