$white-text: #f9faf8;
$background-blue: #1f2937;
$background-lightblue: #19b8aa;

* {
  box-sizing: border-box;
}

body {
  background-color: $background-blue;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.nav {
  background-color: $background-blue;

  display: flex;
  margin-top: 1em;
  gap: 2em;

  a {
    color: $white-text;
  }

  //   logo

  &--logo {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;

    span {
      font-size: 42px;
      color: $white-text;
      font-family: "Rubik Bubbles", cursive;
    }

    img {
      height: 5em;
    }
  }

  // links

  &--links {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    gap: 2em;
  }
}

// hero

.hero {
  background-color: $background-blue;
  margin: 4em auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;

  &--textbox {
    flex: 1 0 400px;
    color: $white-text;

    h1 {
      font-size: 48px;
    }

    .cat-button {
      background-color: rgb(0, 124, 128);
      border: 0;
      font-size: 20px;
      padding: 0.5em 1em;
      color: $white-text;
      border-radius: 5px;
      //   margin: 0.25em 0;
      display: inline-block;
    }
  }

  &--image {
    flex: 1 1 400px;

    img {
      max-width: 100%;
      min-width: 400px;
      border-radius: 15px;
    }
  }
}

// Likes

.like-div {
  background-color: $background-lightblue;
}

.like {
  display: flex;
  justify-content: space-between;
  text-align: center;

  &--title {
    text-align: center;
    padding: 12px 0;
  }

  &--card {
    max-width: 20%;
    flex: 0 1 auto;

    img {
      max-width: 100%;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

// quote
